/* default everything */
body {
    background-color:#102030;
    color:aliceblue;
}

/* links */
a:link {
    color: red;
    text-decoration: none;
}
a:visited {
    color: pink;
    text-decoration: none;
}
a:hover {
    color: darkred;
    text-decoration: underline;
}
.link_active, a:active {
    color: black;
    text-decoration: underline;
}

/* centers the thing */
.centered, header, footer, .content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

header, footer {
    border-width: 1px;
    border-color: aliceblue;
}

header {
    border-bottom-style: solid;
}

footer {
    border-top-style: solid;
}

.content {
    padding-bottom: 25%;
    max-width: 500px;
}